#mobile-home {
	display: none;
}

#desktop-home {
	display: block;
	width: 100%;
	height: 100%;
}

#desktop-home .test-side, #desktop-home .preservativo-side {
	display: inline-block;
	width: 50%;
	height: 100%;
}

#desktop-home .test-side {
	background-color: #E2001A;
}

#desktop-home .preservativo-side {
	background-color: #00a4a7;
}

.home-buscar .ui-content, .home-buscar ul {
	margin: 0px;
	padding: 0px;
}
