@font-face {
  font-family: "Gotham Round";
  src: url("GothamRnd-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gotham Round Bold";
  src: url("GothamRnd-Bold.woff") format("woff");
}

html {
	font-family: "Gotham Round", sansserif;
}

strong {
	font-family: "Gotham Round Bold", sansserif;
}

.flex-container {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-flex-flow: row wrap !important;
	flex-flow: row wrap !important;
}

.flex-container-column-center {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-align-self: center;
	align-self: center;
}

.flex-container .row > *, .flex-container-column-center > * {
	padding: 10px;
	-webkit-flex: 1 100%;
	flex: 1 100%;
	-webkit-align-self: center;
	align-self: center;
}

.flex-container-nowrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-ms-flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-flex-pack:justify;
	-ms-justify-content:space-between;
	justify-content:space-between;
	width: 100%;
}

.flex-item-nowrap {
	-webkit-flex: 1 0 auto;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-align-self: flex-end;
	align-self: flex-end;
}

.flex-item-nowrap:last-child { 
	margin-left: auto;
	text-align: right;
}

#busca-test-main-link, #busca-preservativo-main-link {
	min-width: 133px;
	min-height: 133px;
	padding: 0;
	margin: 0;
}

#huesped-logo-image {
	width: 100px;
	margin-bottom: 8px;
}
