@font-face {
  font-family: "Gotham Round";
  src: url("GothamRnd-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gotham Round Bold";
  src: url("GothamRnd-Bold.woff") format("woff");
}

/** Modificación jQuery Mobile General **/

html {
	font-family: "Gotham Round", sansserif;
}

strong {
	font-family: "Gotham Round Bold", sansserif;
}

.ui-btn-up-c {
    border: none;
}

.ui-header {
	color: white;
	text-align: center;
	font-size: 20pt;
	padding-top: 15px;
	padding-bottom: 8px;
}

.ui-header .header-button {
	float: left;
	margin-left: 15px;
}

.ui-header > * {
	display: inline-block;
}

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
    font-family: "Gotham Round", sansserif;
}

.ui-content {
	overflow-x: visible;
	overflow-y: visible;
	background-color: white;
}

.ui-page {
	background-color: white;
	background-image: none;
}

.ui-footer .ui-btn {
	-moz-box-shadow: 0 0px 0px /*{global-box-shadow-size}*/ rgba(255,255,255,0) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0 0px 0px /*{global-box-shadow-size}*/;
	-webkit-background-clip: inital;
	background-clip: initial;
	-webkit-border-radius: 0 /*{global-radii-buttons}*/;
	border-radius: 0 /*{global-radii-buttons}*/;
}

.ui-footer .ui-btn-inner {
	border-top: none;
	border-color: rgba(255,255,255,0);
}

.ui-footer {
	background-color: white;
}

.ui-footer-fixed.ui-fixed-hidden {
	bottom: -1px;
	padding-bottom: 15px;
	position: fixed;
}

.ui-header-fixed.ui-fixed-hidden {
	top: -1px;
	padding-top: 15px;
	position: fixed;
}

/** Estilos nuevos **/
div.cartodb-popup h4 {
    color: #fff;
}

.flex-container {
	display: -webkit-box !important;
	display: -moz-box !important;
	display: -ms-flexbox !important;
	display: -webkit-flex !important;
	display: -webkit-flex !important;
	display: flex !important;
	-webkit-flex-flow: row wrap !important;
	flex-flow: row wrap !important;
}

.flex-container-column-center {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: column wrap;
	flex-flow: column wrap;
	-webkit-align-self: center;
	align-self: center;
}

.flex-container .row > *, .flex-container-column-center > * {
	padding: 10px;
	-webkit-flex: 1 100%;
	flex: 1 100%;
	-webkit-align-self: center;
	align-self: center;
}

.flex-container-nowrap {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	-webkit-flex-flow: row nowrap;
	-moz-flex-flow: row nowrap;
	-ms-flex-flow: row nowrap;
	-ms-flex-direction: row;
	-ms-flex-wrap: nowrap;
	flex-flow: row nowrap;
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-flex-pack:justify;
	-ms-justify-content:space-between;
	justify-content:space-between;
	width: 100%;
}

.flex-item-nowrap {
	-webkit-flex: 1 0 auto;
	-moz-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-align-self: flex-end;
	align-self: flex-end;
}

.flex-item-nowrap:last-child { 
	margin-left: auto;
	text-align: right;
}

/** Pantalla inicial **/

#busca-test-main-link, #busca-preservativo-main-link {
	min-width: 133px;
	min-height: 133px;
	padding: 0;
	margin: 0;
}

#huesped-logo-image {
	width: 100px;
	margin-bottom: 8px;
}

.home-buscar .ui-content {
	padding-top: 30px;
	text-align: center;
}

.home-buscar .ui-footer {
	padding: 0;
}

#huesped-logo-link {
	float: left;
}

#info-popup-image {
	margin-right: 10px;
}

/** Pantalla inicial Test y Preservativos **/
.buscar-icon-link, .ubicame-icon-link {
	min-height: 59px;
	text-decoration: none;
}

.buscar-icon-link img, .ubicame-icon-link img {
	vertical-align: middle;
}

.buscar-icon-link strong, .ubicame-icon-link strong {
	vertical-align: -webkit-baseline-middle !important;
	vertical-align: middle;
	margin-left: 10px;
}

.ui-content .titulo {
	margin-bottom: 25px;
	margin-top: 15px;
}

.ui-footer {
	padding-bottom: 15px;
	padding-top: 15px;
	text-align: center;
}

.ui-footer a:first-child, .ui-footer a:last-child {
	margin-left: 10px;
	margin-right:10px;
}

.back-button-footer {
	background-image: url('../img/atras-icon.png');
	width: 48px;
	height: 48px;
	float: left;
}

.home-button-footer {
	background-image: url('../img/ir-a-home-icon.png');
	width: 48px;
	height: 48px;
}

.info-button-footer {
	width: 48px;
	height: 48px;
	float: right;
}

/* barras blancas del header */
.ui-header .icon-bar {
	display: block;
	width: 30px;
	height: 4px;
	background-color: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 4px;
	color: #ffffff;
	cursor: pointer;
	-webkit-box-shadow: 0 0 0x 0px rgb(255, 255, 255);
	-moz-box-shadow: 0 0 0px 0px rgb(255, 255, 255);
	box-shadow: 0 0 0px 0px rgb(255, 255, 255);
}

/** Pantalla inicial de preservativos **/

.preservativos-page {
	background-color: white;
}

.preservativos-page .ui-header {
	background-color: #00a4a7;
}

.preservativos-page .ui-link, .preservativos-page .ui-content {
	color: #00a4a7;
}

.preservativos-page .ui-content, .tests-page .ui-content {
	text-align: center;
}

.preservativos-page .info-button-footer {
	background-image: url('../img/info-icon-preservativo.png');
}

.tests-page {
	background-color: white;
}

.tests-page .ui-header {
	background-color: #E2001A;
}

.tests-page .ui-link, .tests-page .ui-content, .tests-page .ui-link:visited, .tests-page .ui-link:hover {
	color: #E2001A;
}

.tests-page .info-button-footer {
	background-image: url('../img/info-icon-test.png');
}

/** Pantalla de mapa de preservativo **/

.header-button {
	cursor: pointer;
}

.nomargin {
    margin: 0px;
    padding: 0px;
}

.preservativos-autocomplete-menu, .test-autocomplete-menu {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 100%;
}

.preservativos-autocomplete-menu .ui-btn-corner-all, .test-autocomplete-menu .ui-btn-corner-all {
    -webkit-border-radius: 0;
    border-radius: 0;
    margin-left: 10px;
    margin-top: 10px;
     margin: 10px;
}

.test-autocomplete-menu {
	background-color: #e2001a;
}

.preservativos-page .preservativos-autocomplete-menu {
	background-color: #00a4a7;
}

#preservativos-calle .ui-input-text,#test-calle .ui-input-text {
    /* padding: 10px; */
    margin: 10px;
}
#preservativos-calle #geocomplete {
    border-radius: 0;
}
#preservativos-calle a.ui-input-clear,#test-calle a.ui-input-clear{
    //display: none;
    margin-right: 10px;
    margin-top: -10px;
}

.preservativos-map {
	margin: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.pac-container {
    margin-top: 1%;
    margin-left: 0;
    /* margin-left: 1%; */
    background-color: transparent;
    border: none;
}
.pac-item {
    color: #fff;
    padding: 20px;
}

.pac-item:hover {
    color: #87888a;
    padding: 20px;
}

.pac-container:after {
    background-image: none;
}

div.cartodb-popup .jspContainer:before {
    background: none;
}

.preservativos-tooltip-popup {
    background-color: #e2001a;
    color: #fff;
    text-shadow: none;
}
