@font-face {
  font-family: "Gotham Round";
  src: url("GothamRnd-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gotham Round Bold";
  src: url("GothamRnd-Bold.woff") format("woff");
}

html {
	font-family: "Gotham Round", sansserif;
}

strong {
	font-family: "Gotham Round Bold", sansserif;
}

.header-button {
	float: left;
	margin-left: 15px;
}

.header > * {
	display: inline-block;
}

.content {
	overflow-x: visible;
	overflow-y: visible;
	background-color: white;
}

.header .icon-bar {
	display: block;
	width: 30px;
	height: 4px;
	background-color: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-top: 4px;
	color: #ffffff;
	cursor: pointer;
	-webkit-box-shadow: 0 0 0x 0px rgb(255, 255, 255);
	-moz-box-shadow: 0 0 0px 0px rgb(255, 255, 255);
	box-shadow: 0 0 0px 0px rgb(255, 255, 255);
}

.preservativos-autocomplete-menu {
	background-color: #00a4a7;
}

.preservativos-autocomplete-menu, .test-autocomplete-menu {
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 100%;
}

.map {

}
